pipeline/API_ingetion.json
{
	"name": "API_ingetion",
	"properties": {
		"activities": [
			{
				"name": "Copy data from sql",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup into datalake lastloaded value",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Latest loaded data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.DimUser\nwhere updated_at > CONVERT(datetime2,'@{replace(activity('Lookup into datalake lastloaded value').output.firstRow.last_load,'\\\"Z\\\"','')}')\nand updated_at < CONVERT(datetime2,'@{replace(activity('Latest loaded data').output.firstRow.latest_value,'\\\"Z\\\"','')}')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "user_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "user_id",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "user_name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "user_name",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "country",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "country",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "subscription_type",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "subscription_type",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "start_date",
									"type": "Date",
									"physicalType": "date"
								},
								"sink": {
									"name": "start_date",
									"type": "Date"
								}
							},
							{
								"source": {
									"name": "end_date",
									"type": "Date",
									"physicalType": "date"
								},
								"sink": {
									"name": "end_date",
									"type": "Date"
								}
							},
							{
								"source": {
									"name": "updated_at",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "updated_at",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTablesource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Parquetfilefromsqlsink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup into datalake lastloaded value",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "checkinglastloadedfile",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Latest loaded data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select max(updated_at) as latest_value from dbo.DimUser",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTablesource",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "watermark",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data from sql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "last_load",
								"value": {
									"value": "@{string(activity('Latest loaded data').output.firstRow.latest_value)}",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "emptyjsondatasetsource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "latsetloadsinkdataset",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}